body {
       background: linear-gradient(to bottom, #1297b7 0%,#128aa7 0%,#128aa7 3%,#5ef0ff 3%,#11cde1 3%,#18cee2 4%,#2ad2e4 5%,#48d8e8 7%,#ccf5f9 13%,#f5fdfe 16%,#ffffff 17%,#40c6d3 17%,#36bacb 21%,#1a9cb8 28%,#1395b3 30%,#1191b1 32%,#0f8cad 48%,#0c77a1 86%,#0c739f 100%);
	margin: 0;
	padding: 0;
	font-family: Tahoma, sans-serif;
}

.container{
	width: 1000px;
	margin: 0 auto;
	height: auto;
	background-color: #fff;
	padding-top: 4px;
	box-shadow: 0px 0px 3px 2px #0a5a71;
	border-bottom: 3px solid black;
	margin-top: -3px;
}

.logo{
	float: left;
	margin-left: 30px;
}

.contacts{
	float: right;
	margin-right: 30px;
	color: #5fa5bb;
	font-size: 12px;
}

.contacts p{
	margin-bottom: 2px;
	margin-top: 0;
}

strong{
	line-height: 25px;
}

.countries{
	height: 80px;
	margin-right: 30px;
	margin-top: 31px;
	float: right;
	clear:right;
}

.sign {
	float: left;
	margin: 0 5px; 
	text-align: center; 
}

.sign a{
	font-size: 10px;
	color: #128aa7;
	display: block;
}

.image{
	display: block;
}

.menu{
	width: 1000px;
	height: 30px;
	background-color: #333333;
	border-bottom: 1px solid black;
	box-shadow: 0 1px 5px 0;
	list-style: none;
	position: relative;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.menu > li {
	display: inline-block;
	float: left;
	position: relative;
	font-size: 14px; 
	color: #fff;
	text-align: center;
		
}

ul.menu > li > a {
	box-sizing: border-box;
	display: block;
	width: 142px;
	height: 30px;
	line-height: 30px;
	color: white;
	text-decoration: none;
}

ul.submenu {
	display: none;
	width: 150px;
	position: absolute;
	top: 29px;
	left: 15px;
	box-shadow: 0 5px 7px  #474747;
}

ul.submenu > li:first-child{
	border-top: 1px solid black;
}

ul.submenu > li {
	display: block;
}

ul.submenu > li > a {
	display: block;
	height: 30px;
	line-height: 30px;
	color: white;
	background-color: #333333;
	text-decoration: none;
	padding-left: 13px;
	text-align: left;
}

ul.submenu > li > a:hover {
	text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
	display: block;
}

.fon {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
}

.leftColumn {
	width: 200px;
	float: left;
	background-color: #edeef0;
}

.centerColumn {
	width: 600px;
	float: left;
	background: #fff;
}

.rightColumn {
	width: 200px;
	float: left;
	background-color: #edeef0;
}

h3{
	color: #424c43;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 4px;
}

.leftColumn p, .rightColumn p{
	text-align: center;
	color: #7d837f;
	font-size: 14px;
	line-height: 26px;
	margin-top: 1px;
}

.copyright{
	width: 230px;
	margin: 0 auto;
	color: #dee7ee;
	font-size: 12px;
}
